/* stylelint-disable-next-line */
@use './breakpoints';
:root {
  --main-color: #0290ff;
  --border-color: rgb(219, 219, 219);
}

@mixin round {
  border-radius: 20px;
}

.center-content {
  margin: 0 auto;
  width: 95%;
  @include breakpoints.md {
    width: 80%;
  }
}

button {
  cursor: pointer;
}
