/* stylelint-disable-next-line */
@use '../../scss/utils';

.header {
  color: rgb(173, 173, 173);
  font-weight: 400;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;

  input[type='text'] {
    background-color: #fff;
    padding: 10px 10px;
    /* stylelint-disable-next-line */
    @extend .itemRadius;

    font-weight: 300;
    margin-right: 1rem;
    &.inputAuthor {
      flex-grow: 1;
    }
  }

  .inputContainer {
    display: flex;
  }

  button {
    /* stylelint-disable-next-line */
    @extend .colorButton;
  }
}
