@use './utils';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 20px;
}
